body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}
#currencyInfo {
    font-size: 18px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #b6b6b6;
    padding: 4px 6px;
    text-align: left;
}
th {
    background-color: rgba(200, 200, 200, 0.2);
}

.history-cell {
    display: flex;
    gap: 3px;           /* расстояние между квадратиками */
    padding: 5px;
}

.square {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.square.active {
    background-color: #4caf50; /* зелёный, если 1 */
}
